<div class="container">
    <div class="about-header">
        <h1>About Us</h1>
    </div>

    <div class="about-content">
        <div class="about-text">
            <p>Welcome to Watch Store, where craftsmanship meets timeless elegance. Founded in 2025, we have dedicated ourselves to curating the finest watches inspired by military precision, vintage charm, and cutting-edge technology. Our journey began with a passion for horology, driven by a vision to create timepieces that resonate with every watch enthusiast's unique style and needs.</p>
        </div>
        <div class="about-image">
            <img src="./assets/images/1.jpg" alt="Watch Store Image" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>