<div class="categories-container">
    <div class="categories">
        <h2>Categories Highlight</h2>
        <ul>
            <li><a href="/new" onmouseover="changeImage('./assets/images/1.jpg')" onmouseout="resetImage()">New</a></li>
            <li><a href="/best-sellers" onmouseover="changeImage('./assets/images/2.jpg')" onmouseout="resetImage()">Best Sellers</a></li>
            <li><a href="/military-inspired" onmouseover="changeImage('./assets/images/3.jpg')" onmouseout="resetImage()">Military Inspired</a></li>
            <li><a href="/automatic" onmouseover="changeImage('./assets/images/4.jpg')" onmouseout="resetImage()">Automatic</a></li>
            <li><a href="/vintage-inspired" onmouseover="changeImage('./assets/images/5.jpg')" onmouseout="resetImage()">Vintage Inspired</a></li>
            <li><a href="/digital" onmouseover="changeImage('./assets/images/6.jpg')" onmouseout="resetImage()">Digital</a></li>
        </ul>
    </div>
    <div class="image-section">
        <img id="categoryImage" src="./assets/images/1.jpg" alt="Default Watch" style="max-width: auto; height:600px;">
    </div>
</div>