<nav class="navbar">
  <ul class="nav-list">
    <li class="logo">
      <a href="http://localhost/watch_store_repo/watch_store/public/">WATCH</a>
      <button class="hamburger">
        <i class="fas fa-bars"></i>
      </button>
    </li>

    <div class="left-items">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Categories</a>
        <ul class="dropdown-menu">
          <li><a href="#">Men's Watches</a></li>
          <li><a href="#">Women's Watches</a></li>
          <li><a href="#">Smart Watches</a></li>
          <li><a href="#">Chronographs</a></li>
          <li><a href="#">Limited Editions</a></li>
        </ul>
      </li>
      <li><a href="#">New Arrivals</a></li>
      <li>
        <a
          href="http://localhost/watch_store_repo/watch_store/public/views/about_us.php"
          >About Us</a
        >
      </li>
      <li>
        <a
          href="http://localhost/watch_store_repo/watch_store/public/views/contact_us.php"
          >Contact Us</a
        >
      </li>
    </div>

    <div class="right-items">
      <form action="search.php" method="POST" class="search-form">
        <input type="text" name="search" placeholder="Search" />
        <button type="submit" name="submit-search">
          <i class="fas fa-search"></i>
        </button>
      </form>
      <li class="nav-icons">
        <a
          href="http://localhost/watch_store_repo/watch_store/public/views/signup_login.php"
          ><i class="fas fa-user"></i
        ></a>
        <a
          href="http://localhost/watch_store_repo/watch_store/public/views/cart_page.php"
          ><i class="fa-solid fa-cart-shopping"></i
        ></a>
      </li>
    </div>
  </ul>
</nav>
